<header class="custom-header navbar">
  <div class="d-flex align-items-center justify-content-between w-100 px-2">
    <div class="d-flex align-items-center">
      <%= link_to '/', class: 'navbar-brand ms-auto' do %>
        <%= image_tag 'main_image.png', width: 153 %>
      <% end %>
      <span class="ms-2 lead fw-bold">~日常を見直す週間管理アプリ~</span>
    </div>
    <div class="dropdown">
      <button class="btn navbar-toggler p-2" type="button"
              data-bs-toggle="dropdown" aria-expanded="false" aria-label="Open menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal_how_to">
            <%= t('header.how_to') %>
          </button>
        </li>
        <% unless current_user&.focus? %>
          <li><%= link_to t('header.ranking'), user_points_path, class: "dropdown-item" %></li>
          <li><%= link_to t('header.bookmarks'), bookmarks_posts_path, class: "dropdown-item" %></li>
          <li><%= link_to t('header.post_index'), posts_path, class: "dropdown-item" %></li>
        <% end %>
        <li><%= link_to t('header.post'), new_post_path, class: "dropdown-item" %></li>
        <li><%= link_to t('header.my_page'), user_path(current_user), class: "dropdown-item" %></li>
        <li><%= button_to t('header.logout'), logout_path, method: :delete, class: "dropdown-item" %></li>
      </ul>
    </div>
  </nav>
</header>