<div id="<%= "bookmark-button-#{post.id}" %>" class="ms-auto p-2">
  <% if current_user.present? %>
    <% if current_user.bookmark?(post) %>
      <%= render 'posts/unbookmark', { post: post } %>
    <% else %>
      <%= render 'posts/bookmark', { post: post } %>
    <% end %>
  <% else %>
    <% bookmark = Bookmark.find_by(session_id: session[:bookmark_session_id], post: post) %>
    <% if bookmark.present? %>
      <%= render 'posts/unbookmark_guest', post: post, bookmark: bookmark %>
    <% else %>
      <%= render 'posts/bookmark_guest', post: post %>
    <% end %>
  <% end %>
</div>