<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <div id="post-id-<%= post.id %>">
    <div class="card text-center custom-card">
      <div class="card-body content-box p-3">
        <p class="card-text"><%= post.body %></p>
      </div>
      <div class="d-flex align-items-center p-1">
        <div><%= image_tag "#{post.user.user_point.user_rank}.png", alt: t("default.user_rank.#{post.user.user_point.user_rank}"),
                height: 50,weight: 50,class: "mx-auto d-block" %></div>
        <div class="ms-2"><%= post.user.user_name %></div>
        <div class="ms-auto me-1"><%= t("default.user_rank.#{post.user.user_point.user_rank}") %></div>
      </div>
      <% if current_user&.own?(post) %>
        <div class="ms-auto p-1">
          <%= link_to "https://twitter.com/share?url=https://zenkouchokin-app.onrender.com/&text=【今日の善行】%0a#{post.body}%0a", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do %>
            <i class="bi bi-twitter-x"></i>
          <% end %>
          <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>
          <%= link_to post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete, turbo_confirm: t('default.delete_confirm') } do %>
            <i class="bi bi-trash-fill"></i>
          <% end %>
        </div>
      <% else %>
        <%= render 'bookmark_buttons', { post: post } %>
      <% end %>
    </div>
  </div>
</div>