<%= search_form_for q, url: url do |f| %>
  <div class="d-flex mb-3 ms-auto gap-2 w-50">
    <%= f.search_field :body_cont, class: 'form-control', placeholder: t('default.search.word') %>
    <%= f.date_field :created_at_gteq, class: 'form-control' %>
    <span>~</span>
    <%= f.date_field :created_at_lteq_end_of_day, class: 'form-control ' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>