<div class="container">
  <div class="row">
    <div class=" col-md-10 col-lg-5 mx-auto">
      <h1><%= t("admin_login.title") %></h1>
      <%= form_with url: admin_login_path do |f| %>
        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="d-flex flex-column w-75 mx-auto gap-2">
          <%= f.submit t('user_sessions.new.login'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>