<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "善行貯金" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    
    <main class="flex-grow-1">
      <div class="my-2 ms-4">
        <h2>今日の名言</h2>
      </div>
      <div class="text-center">
        <h4>きみは明日のきみに、今日を誇れるだろうか。</h4>
        <h5>～あつまれどうぶつの森 らこすけ～</h5>
      </div>
      <%= yield %>
    </main>
    
    <%= render 'shared/footer' %>

    <%= render 'shared/modal_how_to' %>
    <%= render 'shared/modal_privacy_policy' %>
    <%= render 'shared/modal_terms' %>
  </body>
</html>
