<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-577CZDG55C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-577CZDG55C');
    </script>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    
    <main class="flex-grow-1">
      <div class="my-2 ms-4">
        <h2>今日の名言</h2>
      </div>
      <% if @famous_quote.present? %>
        <div class="container my-3 famous-quote">
          <div class="alert border text-center">
            <blockquote class="mb-1"><%= @famous_quote.content %></blockquote>
            <small> — <%= @famous_quote.author %> — </small>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>
    
    <%= render 'shared/footer' %>

    <%= render 'shared/modal_how_to' %>
    <%= render 'shared/modal_privacy_policy' %>
    <%= render 'shared/modal_terms' %>
  </body>
</html>
